body {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.container-fluid {
  padding: 1% 7%;
}

/* Header */

#header {
  background-color: #EAB744;
}

.navbar-light .navbar-brand {
  font-family: "Forum";
  font-weight: bold;
  font-size: 2.5rem;
}

.navbar-light .navbar-brand, .navbar-nav .nav-item .nav-link {
  color: #3A332D;
}

.navbar-light .navbar-brand:hover, .navbar-nav .nav-item .nav-link:hover {
  color: #ffffff;
}

.navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
}

.nav-pills > .active > .nav-link.active  {
  background-color: #3A332D;
  color: #EAB744;
}

.nav-pills > .active > .nav-link.active:hover {
  background-color: #ffffff;
  color: #3A332D;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

.page-title {
  font-size: 3rem;
}

/* Buttons */

.my-btn {
  background-color: #EAB744;
  color: #3A332D;
  border-width: 0;
  font-size: 1.1rem;
  border: 1px solid transparent;
  padding: 6px 12px;
  border-radius: 4px;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

@media(hover: hover) {
  .my-btn:hover {
    color: #3A332D;
    background-color: #ffffff;
    border-width: 1px;
    border-color: #3A332D;
  }
}

.my-btn-round {
  background-color: #EAB744;
  padding: 6px 14px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
}

.my-btn-small {
  padding: 2px 5px;
  font-size: 1rem;
}

/* Dice Roll Page */

#dice-roll {
  padding: 30px 0 30px 0;
  background-color: #ffffff;
  color: #3A332D;
}

#dice-roll .row {
  padding: 20px 0 10px 0;
}

.dice {
  display: inline-block;
  position: relative;
  width: 96px;
  height: 96px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
}

@media(hover: hover) {
  .dice:hover {
    opacity: 0.25;
  }
}

.form-select {
  width: 100px;
}

.stunt-text {
  font-size: 1rem;
}

.hidden {
  visibility: hidden;
}

/* Footer */

#footer {
  font-size: 0.9rem;
  color: #3A332D;
}

/* Transitions */

.navbar-light .navbar-brand, .navbar-nav .nav-item .nav-link, .nav-pills > .active > .nav-link.active, .my-btn, .dice {
  -webkit-transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  -moz-transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  -ms-transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  -o-transition: opacity 0.2s, color 0.2s, background-color 0.2s;
  transition: opacity 0.2s, color 0.2s, background-color 0.2s;
}
